<a href="https://colab.research.google.com/github/CruzLermaJorge/MineriaDatosJorge/blob/main/Ej_Phyton_1867341.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ejercicio 1**

In [4]:
nom = str(input("Introduce tu nombre:" ))
mat = int(input("Introduce tu matricula: "))
print("Nombre:",nom,"    Matricula:",mat)

Introduce tu nombre:Jorge Antonio Cruz Lerma
Introduce tu matricula: 1867341
Nombre: Jorge Antonio Cruz Lerma     Matricula: 1867341

**Ejercio 2**

In [5]:
n1=int(input("Introduce el primer numero: "))
n2=int(input("Introduce el segundo numero: "))
sum=n1+n2
rest=n1-n2
mult=n1*n2
div=n1/n2
exp=n1**n2
print("Resultados:",
      " Suma=",sum,
      " Resta=",rest,
      " Division=",div,
      " Exponente=",exp)

Introduce el primer numero: 2
Introduce el segundo numero: 3
Resultados:  Suma= 5  Resta= -1  Division= 0.6666666666666666  Exponente= 8

**Ejercicio 3**

In [6]:
for i in range(1,11):
    print (3," * ", i , " = ", i * 3)
i=1
suma=0
while i<=10:
    suma=suma+i*3
    i=i+1

print("Resultado de la suma= ",suma)

3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
3  *  10  =  30
Resultado de la suma=  165

**Ejercicio 4.1**

In [7]:
np = int(input("Introduceun numero: "))
if np % 2 == 0:
  print("El numero",np,"es par")
else:
  print("El numero",np,"es impar")

Introduceun numero: 4
El numero 4 es par

  **Ejercicio 4.2**

In [8]:
desc=0
primo = int(input("Introduce un numero: "))
if primo % 2 == 0:
  print("El numero",primo,"es par")
else:
  for i in range(1,primo+1):
    primo % i
    if primo % i == 0:
      desc=desc+1
    else:
      desc=desc
if desc==2:
  print("Es primo")
else:
  print("No es primo")

Introduce un numero: 13
Es primo

**Ejercicio 5**

In [9]:
n1=int(input("Ingrese un numero: "))
n2=int(input("Ingrese otro numero: "))
def Suma(n1,n2):
    c=n1+n2
    return c
print("Suma= ",Suma(n1,n2))

def Resta(n1,n2):
    c=n1-n2
    return c
print("Resta= ",Resta(n1,n2))

def Multiplicacion(n1,n2):
    c=n1*n2
    return c
print("Multiplicacion= ",Multiplicacion(n1,n2))

def Division(n1,n2):
    c=n1/n2
    return c
print("Division= ",Division(n1,n2))
def Exponente(n1,n2):
    c=n1**n2
    return c
print("Exponente=",Exponente(n1,n2))

Ingrese un numero: 2
Ingrese otro numero: 3
Suma=  5
Resta=  -1
Multiplicacion=  6
Division=  0.6666666666666666
Exponente= 8

**Tuplas**

In [10]:
x=10
print(type(x))
y=5.55
print(type(y))
z=True
print(type(z))
w=complex(10)
print(type(w))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

In [11]:
t=(2,4,8,16,32)
print("Primer valor=",t[0])
print("Ultimo valor=",t[-1])

Primer valor= 2
Ultimo valor= 32

In [12]:
t.__add__(("cuarenta","cincuenta","sesenta"))

(2, 4, 8, 16, 32, 'cuarenta', 'cincuenta', 'sesenta')

In [13]:
a=int(input("Buscar en la tupla: ",))
if a in t:
  print("Esta en la tupla")
else:
  print("No esta en la tupla")

Buscar en la tupla: 8
Esta en la tupla

**Listas**

In [14]:
import random as r
l = []
for i in range (0,40):
    l.append(r.randint(1,100))
    
print (l)

[44, 70, 74, 8, 84, 14, 10, 81, 45, 81, 24, 75, 37, 17, 20, 52, 11, 61, 2, 93, 29, 13, 52, 74, 57, 33, 8, 16, 56, 20, 86, 74, 86, 43, 44, 67, 31, 69, 10, 85]

In [15]:
def Dividir(lf):
  lpar=list()
  limp=list()
  for i in range(0,len(lf)):
    if lf[i]%2==0:
      lpar.append(lf[i])
    else:
      limp.append(lf[i])
  return((lpar),(limp))

Div=Dividir(l)
print("Pares: ",Div[0])
print("Impares: ",Div[1])

Pares:  [44, 70, 74, 8, 84, 14, 10, 24, 20, 52, 2, 52, 74, 8, 16, 56, 20, 86, 74, 86, 44, 10]
Impares:  [81, 45, 81, 75, 37, 17, 11, 61, 93, 29, 13, 57, 33, 43, 67, 31, 69, 85]

In [16]:

lenpar=len(Div[0])
lenimp=len(Div[1])
print("Longitud de numeros pares: ",lenpar)
print("Longitud de numeros impares: ",lenimp)

Longitud de numeros pares:  22
Longitud de numeros impares:  18

In [17]:
Div[0].sort(reverse=True)
Div[1].sort()
print("Lista de pares de mayor a menor: ",Div[0])
print("Lista de impares de menor a mayor: ",Div[1])

Lista de pares de mayor a menor:  [86, 86, 84, 74, 74, 74, 70, 56, 52, 52, 44, 44, 24, 20, 20, 16, 14, 10, 10, 8, 8, 2]
Lista de impares de menor a mayor:  [11, 13, 17, 29, 31, 33, 37, 43, 45, 57, 61, 67, 69, 75, 81, 81, 85, 93]

In [34]:
l.append(1)
print(l)
l.insert(5,10)
print(l)
l.pop()
print(l)
l.remove(20)
print(l)

[70, 74, 8, 84, 20, 20, 20, 20, 14, 10, 45, 24, 75, 37, 17, 20, 52, 11, 61, 93, 29, 13, 52, 74, 57, 33, 8, 16, 56, 20, 86, 74, 86, 43, 20, 44, 67, 31, 69, 10, 1, 1, 1, 1]
[70, 74, 8, 84, 20, 10, 20, 20, 20, 14, 10, 45, 24, 75, 37, 17, 20, 52, 11, 61, 93, 29, 13, 52, 74, 57, 33, 8, 16, 56, 20, 86, 74, 86, 43, 20, 44, 67, 31, 69, 10, 1, 1, 1, 1]
[70, 74, 8, 84, 20, 10, 20, 20, 20, 14, 10, 45, 24, 75, 37, 17, 20, 52, 11, 61, 93, 29, 13, 52, 74, 57, 33, 8, 16, 56, 20, 86, 74, 86, 43, 20, 44, 67, 31, 69, 10, 1, 1, 1]
[70, 74, 8, 84, 10, 20, 20, 20, 14, 10, 45, 24, 75, 37, 17, 20, 52, 11, 61, 93, 29, 13, 52, 74, 57, 33, 8, 16, 56, 20, 86, 74, 86, 43, 20, 44, 67, 31, 69, 10, 1, 1, 1]

**Diccionarios**

In [19]:
Dic={'Alan':20,'Isaac':19,'Gabriel':15,'Erick':21,'Celeste':20,'Valeria':25}
Dic

{'Alan': 20,
 'Celeste': 20,
 'Erick': 21,
 'Gabriel': 15,
 'Isaac': 19,
 'Valeria': 25}

In [20]:
l1=list(Dic.values())
l1.sort()
l1

[15, 19, 20, 20, 21, 25]

In [21]:
for i in Dic:print(i)

Alan
Isaac
Gabriel
Erick
Celeste
Valeria

In [22]:
Dic['Alexa']=12
Dic['Gael']=11
Dic

{'Alan': 20,
 'Alexa': 12,
 'Celeste': 20,
 'Erick': 21,
 'Gabriel': 15,
 'Gael': 11,
 'Isaac': 19,
 'Valeria': 25}

**Sets**

In [23]:
import random as r
li=[]
for i in range(0,100):
  li.append(r.randint(1,25))
set1 = set(li)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

In [24]:
len(set1)

25

In [25]:
li = []
set2 = set()
for i in range (0,5):
    li.append(r.randint(1, 10))
for i in range (0,len(li)):
  if li[i] in set1:
    set2.add(li[i])
print(set2," estan en el set inicial")

{8, 10, 3, 6}  estan en el set inicial